.auth-container {
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-container {
  width: 90%;
  max-width: 900px;
  overflow: hidden;
}

.app-logo {
  width: 400px;
  height: auto;
}

.auth-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.auth-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: lightblue;
}

@media only screen and (max-width: 768px) {
  .box-container {
    margin: 20px;
  }
  .auth-left {
    height: 100px;
    overflow: hidden;
  }
  .auth-right {
    padding: 20px;
  }
  .app-logo {
    padding: 70px;
  }
}